In [206]:
#virtual environment installed into this notebook's kernel list, so libraries should be ready to run
import pandas as pd
import numpy as np
from matplotlib.pyplot import subplots

In [207]:
#stats from lower 48 CP fact sheets for 2018-2022
USA48 = pd.read_csv('data/lower48Output.csv')
#stats from CP sustainability reports for total USA processes 2018-2022
GHG_CP = pd.read_csv('data/USA_GHG_performance_data.csv');
GHG_CP.dropna(how='all'); #drop spacer rows

In [208]:
USA48_r = USA48.drop(list(range(43,51))) #remove note rows.
USA48_r

,Unnamed: 0,2018,2019,2020,2021,2022
0,Eagle Ford,NaN,NaN,NaN,NaN,NaN
1,Crude Oil (MBD),109.000,125.000,103.000,116.000,117.000
2,Crude Oil (MMBY),39.785,45.625,37.595,42.340,42.705
3,Nat Gas (MMCFD),42.000,251.000,228.000,251.000,271.000
4,Nat Gas (MMMCFY),15.330,91.615,83.220,91.615,98.915
5,NGL (MBD),212.000,49.000,46.000,53.000,58.000
6,NGL (MMBY),77.380,17.885,16.790,19.345,21.170
7,Total MBOED,186.000,216.000,186.000,211.000,220.000
8,Total (MMBOEY),67.890,78.840,67.890,77.015,80.300
9,Bakken,NaN,NaN,NaN,NaN,NaN
10,Crude Oil (MBD),63.000,71.000,53.000,59.000,59.000
11,Crude Oil (MMBY),22.995,25.915,19.345,21.535,21.535
12,Nat Gas (MMCFD),72.000,92.000,92.000,117.000,127.000
13,Nat Gas (MMMCFY),26.280,33.580,33.580,42.705,46.355
14,NGL (MBD),9.000,11.000,10.000,16.000,15.000
15,NGL (MMBY),3.285,4.015,3.650,5.840,5.475
16,Total MBOED,84.000,97.000,78.000,94.000,95.000
17,Total (MMBOEY),30.660,35.405,28.470,34.310,34.675
18,Permian,NaN,NaN,NaN,NaN,NaN
19,(Conv/Delaware) Crude Oil (MBD),21.000,17.000,12.000,162.000,258.000
20,(Unconv/Midland) Crude Oil (MBD),14.000,28.000,33.000,89.000,91.000
21,Crude Oil (MBD),35.000,45.000,45.000,251.000,349.000
22,Crude Oil (MMBY),12.775,16.425,16.425,91.615,127.385
23,(Conv/Delaware) Nat Gas,77.000,59.000,42.000,584.000,752.000
24,(Unconv/Midland) Nat Gas,49.000,94.000,113.000,229.000,196.000
25,Nat Gas (MMCFD),126.000,153.000,155.000,813.000,948.000
26,Nat Gas (MMMCFY),45.990,55.845,56.575,296.745,346.020
27,(Conv/Delaware) NGL,5.000,3.000,2.000,27.000,114.000
28,(Unconv/Midland) NGL,6.000,12.000,12.000,9.000,31.000
29,NGL (MBD),11.000,15.000,14.000,36.000,145.000
30,NGL (MMBY),4.015,5.475,5.110,13.140,52.925
31,(Conv/Delaware) Total MBOED,38.000,56.000,21.000,286.000,498.000
32,(Unconv/Midland) Total MBOED,28.000,97.000,64.000,136.000,155.000
33,Total MBOED,66.000,153.000,85.000,422.000,653.000
34,Total (MMBOEY),24.090,55.845,31.025,154.030,238.345
35,Overall (AoInterest),NaN,NaN,NaN,NaN,NaN
36,Aoi (MMBOEY),122.640,170.090,127.385,265.355,353.320
37,Total ALL,NaN,NaN,NaN,NaN,NaN
38,ALL Total (MBOED),397.000,451.000,385.000,780.000,989.000
39,ALL Total (MMBOEY),144.905,164.615,140.525,284.700,360.985
40,Crude Oil (%),0.580,0.590,0.550,0.570,0.540
41,Nat Gas (%),0.250,0.230,0.250,0.290,0.240
42,NGL (%),0.170,0.180,0.200,0.140,0.220

In [209]:
U = USA48_r.to_numpy(copy=True)

In [213]:
#conveniently, we have 3 areas of interest and 3 unknowns, making it possible for us to get an appx of the oil equiv for each substance per unit volume for each year. This way we can see if there is any noticeable difference from year to year
years = 5
types = 3
#So, we solve for MMBOEY (millions barrels of oil equivalent) of the three production types in our areas of interest

#crude, ng, ngl yearly outputs are the respective values of the columns, with each row representing an area of interest (AOI)

equivs = np.zeros(shape=(years,types))
#create variable size array since better for numpy performance than appending
for i in range(0,years):
    matrix = np.array([
                [U[2][i],U[4][i],U[6][i]],
                [U[11][i],U[13][i],U[15][i]],
                [U[22][i],U[26][i],U[30][i]]
                ])
    MMBOEY = np.array(
                [U[8][i],U[17][i],U[34][i]])

In [211]:

equivs2018 = np.linalg.solve(matrix2018,MMBOEY2018)

In [212]:
#the goal of this is to see if the equivs2018